# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller / auto-py-to-exe
*.manifest
*.spec
output/

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Environments (virtualenv, venv, conda)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables & secrets
.env
.env.*
!.env.example

# IDEs and Code Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Operating System files
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Application Logs & Temporary files
*.log
logs/
*.tmp
